
menu {
  
  --bg-color: transparent;
  --color-focus: #{$primary-color-shade};  
  --color-link: #{$grey};
  --color-link-active: #{$primary-color};
  --link-padding-y: #{0.5*$spacer};

  &.menu__dark {
    --bg-color: #{$primary-color};
    --color-link-active: white;  
    --color-focus: white; 
  }


  & > li > a {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: var(--color-link);
    //text-decoration: none;
    //padding-top: 0.5*$spacer;
    //padding-bottom: 0.5*$spacer;
    //cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-focus);
      //font-size: 1.05em;
    }

    &.active {
      color: var(--color-link-active);
      cursor: default;
      border-bottom: 2px solid var(--color-link-active);
      &:hover {
        //font-size: $font-size-base;
      }
    }

    // Disabled state lightens text
    &[disabled] {
      color: $grey;
      pointer-events: none;
      cursor: default;
    }
  }

}



menu.s-btn-menu {

  width: 100%;
  padding: 0.3*$spacer 0 0 0;

  --border-top: none;
  --border-bottom: none;
  --bg-color: white;
  --text-color: #{$body-color};
  --active-text-color: #{$primary-color};
  --link-padding-y: 0;

  border-top: var(--border-top);
  border-bottom: var(--border-bottom);
  z-index: var(--z-index, 1);
  background-color: var(--bg-color);

  &--border-top {
    --border-top: 1px solid #E1E1E1;
  }

  &--border-bottom {
    --border-bottom: 1px solid #E1E1E1;
  }

  &--dark {
    --bg-color: #{$primary-color};
    --text-color: white;
    --active-text-color: #{$grey};
  }

  li > button {
    color: var(--text-color);
    font-size: $font-size-sm;

    & > i {
      font-size: 1.5em;
    }

    &.active {
      color: var(--active-text-color);
    }

    p {
      margin-top:0.25em;
    }
  }
}